<template name="home">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h3 class="header center">Orion for MeteorJS</h3>
      <div class="row center">
        <h5 class="header col s12 light">The most advanced framework for complex meteor apps</h5>
      </div>
      <div class="row center">
        <a href="" class="btn-large z-depth-1 waves-effect waves-light blue-grey darken-2">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text text-darken-2"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Rapid development</h5>
            <p class="light">build complex apps with powerful back-ends in a fraction of scheduled time.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text text-darken-2"><i class="mdi-social-group"></i></h2>
            <h5 class="center">Actively Supported</h5>
            <p class="light">This is the most actively supported back-end framenwork in meteorJs land.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text text-darken-2"><i class="mdi-action-settings"></i></h2>
            <h5 class="center">Heavily Documented</h5>
            <p class="light">Orion framenwork comes with loads of documentation and tutorials.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
</template>
