<template name="home">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center">Orion</h1>
      <div class="row center">
        <h5 class="header col s12 light">Orion is a simple and powerful CMS for meteor that allows you to build simple or complex websites with powerful admin panels in minutes</h5>
      </div>
      <div class="row center">
        <a href="" class="btn-large z-depth-1 waves-effect waves-light blue-grey darken-2">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text text-darken-2"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Speeds up development</h5>
            <p class="light">Neural RAF Tokyo tanto car receding beef noodles girl into rifle urban weathered apophenia neon math-cardboard boat. Nano-long-chain hydrocarbons shrine render-farm drugs San Francisco j-pop jeans physical refrigerator. Shrine grenade systemic camera disposable assault car advert otaku.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text text-darken-2"><i class="mdi-social-group"></i></h2>
            <h5 class="center">Text here</h5>
            <p class="light">Singularity A.I. military-grade drone physical sign dome vehicle narrative tank-traps. Sign nodality pre-ablative military-grade uplink sentient math-plastic shanty town shrine. RAF sub-orbital courier rebar 8-bit sprawl Kowloon disposable drone alcohol numinous lights decay knife.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text text-darken-2"><i class="mdi-action-settings"></i></h2>
            <h5 class="center">Easy to work with</h5>
            <p class="light">Order-flow face forwards man marketing realism urban plastic engine DIY. 8-bit neon wristwatch nodality warehouse numinous ablative pre-Legba disposable.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
</template>