<template name="about">
  <div class="container about">

    <h3 class="center-align">About</h3><br>

    <p>
      Orion for Meteor is a open-source project that provides the essentials of building true enterprise cross platform apps that are secure, performant, scalable and actively deployed in the field.
    </p>

    <p>
      Initially Orion was made by Nicolás López to help him create simple websites faster.
      As time went on, people started to use Orion for more complex projects.
      Now Orion is an advanced framework that help Meteor developers create any kind of application in a fraction of the time.
    </p>


    <br>
    <h4 class="center-align">Team</h4>
    <br>
    <div class="team">
      <div class="row center-align">
        <div class="col s12 m4">
          <img class="img-circle" src="{{ gravatarFor 'nicolaslopezj@me.com' }}"><br>
          <h5>Nicolás López</h5>
          <p>
            <span>Creator and maintainer of Orion</span><br>
            <span class="grey-text text-darken-1">Santiago, Chile</span>
          </p>
          <p>
            <a href="mailto:nicolaslopezj@me.com">
              <i class="email-icon mdi-communication-email"></i>
            </a>
            <a href="http://github.com/nicolaslopezj" target="_BLANK">
              <img class="github-icon" src="/github.png">
            </a>
          </p>
        </div>
        <div class="col s12 m4">
          <img class="img-circle" src="{{ gravatarFor 'ryandwatts@gmail.com' }}"><br>
          <h5>Ryan Watts</h5>
          <p>
            <span>Core Engineer</span><br>
            <span class="grey-text text-darken-1">Tucson, Arizona</span>
          </p>
          <p>
            <a href="mailto:ryandwatts@gmail.com">
              <i class="email-icon mdi-communication-email"></i>
            </a>
            <a href="https://github.com/rwatts3" target="_BLANK">
              <img class="github-icon" src="/github.png">
            </a>
          </p>
        </div>
        <div class="col s12 m4">
          <img class="img-circle" src="{{ gravatarFor 'tim.anyasi@gmail.com' }}"><br>
          <h5>Tim Anyasi</h5>
          <p>
            <span>Community Coordinator</span><br>
            <span class="grey-text text-darken-1">Toronto, Canada</span>
          </p>
          <p>
            <a href="mailto:tim.anyasi@gmail.com">
              <i class="email-icon mdi-communication-email"></i>
            </a>
            <a href="https://github.com/timfam" target="_BLANK">
              <img class="github-icon" src="/github.png">
            </a>
          </p>
        </div>
      </div>
    </div>


    <br>
    <h4 class="center-align">Contributors</h4>
    <br>
    <div class="contributors">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#contributors_core">Orion</a></li>
            <li class="tab col s3"><a href="#contributors_tutorial">Tutorials</a></li>
            <li class="tab col s3"><a href="#contributors_examples">Examples</a></li>
          </ul>
        </div>
        <div id="contributors_core" class="col s12">{{> contribution items=coreContribution }}</div>
        <div id="contributors_tutorial" class="col s12">{{> contribution items=tutorialsContribution }}</div>
        <div id="contributors_examples" class="col s12">{{> contribution items=examplesContribution }}</div>
      </div>
    </div>

  </div>
</template>

<template name="contribution">
  <br>
  <ul class="collection">
    {{# each items }}
      <li class="collection-item avatar">
        <a href="{{ author.html_url }}" target="_BLANK" class="grey-text">
          <img src="{{ author.avatar_url }}" alt="{{ author.login }}" class="circle">
        </a>
        <span class="title">
          <a href="{{ author.html_url }}" target="_BLANK" class="grey-text text-darken-3">
            {{ author.login }}
          </a>
        </span>
        <p>{{ getCommits }}</p>
        <p>
          <span class="green-text">{{ format getAdditions }} ++ </span>
          <span class="red-text">{{ format getDeletes }} --</span>
        </p>
      </li>
    {{/ each }}
  </ul>
</template>
