.about {
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-circle {
  width: 80%;
  margin: 15px 0;
  border-radius: 50%;
}

.github-icon {
  height: 1.6rem;
  margin: 0 5px;
}

.email-icon {
  font-size: 1.8rem;
  margin: 0 5px;
  color: #000;
}