<template name="footer">
  <footer class="page-footer blue-grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">
            Orion for MeteorJs is a commercially supported opensource project that provides the essentials of builing true enterprise cross platform apps that are secure, performant, scalable and actively deployed in the field.
          </p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links 1</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Links 2</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="blue-grey-text text-lighten-2" href="http://github.com/nicolaslopezj">Orion</a>
      </div>
    </div>
  </footer>
</template>
