<template name="footer">
  <footer class="page-footer blue-grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">
            Orion for MeteorJs is a commercially supported opensource project that provides the essentials of builing true enterprise cross platform apps that are secure, performant, scalable and actively deployed in the field.
          </p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About Orion</h5>
          <ul>
            <li><a class="white-text" href="#!">About Orion</a></li>
            <li><a class="white-text" href="#!">Consultancy</a></li>
            <li><a class="white-text" href="#!">Products</a></li>
            <li><a class="white-text" href="#!">Contact Us</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links 2</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="designed-by blue-grey darken-1 white-text">
      <div class="container">
        Designed and built 
        <a class="blue-grey-text text-lighten-3" href="http://github.com/nicolaslopezj">Nicolás López</a>. 
        Maintained by the 
        <a class="blue-grey-text text-lighten-3" href="https://github.com/orgs/orionjs/teams/core-team">core team</a> 
        with the help of our 
        <a class="blue-grey-text text-lighten-3" href="https://github.com/orionjs/orion/graphs/contributors">contributors</a>.
      </div>
    </div>
  </footer>
</template>
