<template name="footer">
  <footer class="page-footer blue-grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">
            Orion for MeteorJs is a commercially supported open-source project that provides the essentials of building true enterprise cross platform apps that are secure, performant, scalable and actively deployed in the field.
          </p>
          <p>
            <iframe src="https://ghbtns.com/github-btn.html?user=orionjs&repo=orion&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
          </p>
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Contribute</h5>
          <p class="grey-text text-lighten-4">
            The Orion Core Team actively supports and implements features and updates to Orion. One of the most notable features of Orion is that it is highly extensible, meaning members of the community can create extension packages to extend the core of Orion with ease. By following our api and documentation, we highly encourage contributors to participate in extending Orion by adding features, custom logic, and any idea that may not be supported by the Orion Core Team.
          </p>
        </div>
      </div>
    </div>
    <div class="designed-by blue-grey darken-1 white-text">
      <div class="container">
        Designed and built 
        <a class="blue-grey-text text-lighten-3" href="http://github.com/nicolaslopezj">Nicolás López</a>. 
        Maintained by the 
        <a class="blue-grey-text text-lighten-3" href="https://github.com/orgs/orionjs/teams/core-team">core team</a> 
        with the help of our 
        <a class="blue-grey-text text-lighten-3" href="https://github.com/orionjs/orion/graphs/contributors">contributors</a>.
      </div>
    </div>
  </footer>
</template>
