<template name="navbar">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ pathFor 'home' }}" class="brand-logo">
      Orion
    </a>
      <ul class="right hide-on-med-and-down">
        <li class="{{ isActiveRoute regex='tutorials' }}">
          <a href="{{ pathFor 'tutorials.index' }}">Tutorials</a>
        </li>
        <li class="{{ isActiveRoute regex='about' }}">
          <a href="{{ pathFor 'about' }}">About</a>
        </li>
        <li class="{{ isActiveRoute regex='docs' }}">
          <a href="{{ pathFor 'docs.show' slug='introduction' }}">Documentation</a>
        </li>
        <li>
          <a href="http://forums.orionjs.org">Forums</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="{{ isActiveRoute regex='tutorials' }}">
          <a href="{{ pathFor 'tutorials.index' }}">Tutorials</a>
        </li>
        <li class="{{ isActiveRoute regex='about' }}">
          <a href="{{ pathFor 'about' }}">About</a>
        </li>
        <li class="{{ isActiveRoute regex='docs' }}">
          <a href="{{ pathFor 'docs.show' slug='introduction' }}">Documentation</a>
        </li>
        <li>
          <a href="http://forums.orionjs.org">Forums</a>
        </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>