<template name="navbar">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ pathFor 'home' }}" class="brand-logo">
      Orion
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ pathFor 'tutorials.index' }}">Tutorials</a></li>
        <li><a href="{{ pathFor 'docs.index' }}">Documentation</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ pathFor 'docs.index' }}">Documentation</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>